$root: '.p-cat';

#{$root} {
  &__header {
    height: 100vh;
    @apply overflow-hidden relative;

    img {
      @apply object-cover object-center w-full h-full;
    }
  }

  &__title {
    @apply absolute block leading-none select-none;
    @apply font-semibold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 8px 60px 12px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }

  &__content {
    min-height: 100vh;
  }
}
